body{
	margin:0;
	width:100%;
	background-color:white;
}

.break{
	clear:both;
}

.centra{
	width:70%;
	margin:auto;
}

.banner{
	margin:0;
	width:100%;
	padding:0;
}

#up{
	background-image: url("gambar/banner1.jpg");
	margin-top:0;
}

table{
	border-collapse:collapse;
	width:100%;
}

table td{
	border:none;
}

#logo{
	width:49%;
	padding: 1% 0 0 1%;
	font-size:350%;
}

#jargon{
	width:49%;
	padding: 2% 1% 1% 0;
	text-align:right;
	font-family:consolas;
	font-size:150%;
}

/*-----------------------------------------------------------------------*/

#menu1{
    list-style-type		: none;
    margin				: 0;
	margin-top			: 0%;
	margin-bottom		: 0%;
    padding				: 0;
    overflow			: hidden;
    background-color	: dimgray;
    position			: -webkit-sticky; /* Safari */
    position			: none;
	width:100%;
	margin-top:0;
    top					: 0;
}

.navigasi1{
	display				: block;
    color				: white;
    text-align			: center;
	text-decoration		: none;
	padding				: 1%;
	font-size			: 105%;
}

.navigasi1:hover {
    background-color	: #111;
}

.lis1{
	float				: left;
}

.aktif{
	background-color	: crimson;
}

/*-----------------------------------------------------------------------*/

.base{
	width:100%;
	margin:auto;
	background-color:white;
}

.base2{
	width:68%;
	margin:auto;
	background-color:salmon;
}

/*-----------------------------------------*/

#search{
	background-color:gainsboro;
}

.choose{
	margin: 2% 0 2% 0.5%;
	padding: 0.5%;
	border-radius: 5px;
	font-family: Arial;
	font-size: 105%;
}

#keyword{
	width: 20%;
	margin: 1% 0% 1% 5%;
	padding: 0.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
	font-family: Arial;
	font-size:105%;
	color:dimgray;
}

#searchbtn{
    width: 8%;
    background-color: #4CAF50;
    color: white;
    padding: 0.55% 0%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-family: Arial;
	font-size:105%;
}

#searchbtn:hover{
    background-color: crimson;
	color:white;
}

/*-----------------------------------------*/

#menu{
	margin:0;
}

.gripmenu{
	background-color:ghostwhite;
	width:30%;
	float:left;
	margin:1.666%;
	margin-top:3%;
	margin-bottom:0%;
	border-radius:2px;
}

.gripmenu:hover{
	background-color:crimson;
	color:white;
}

.gripimage{
	width:100%;
	background-color:black;
}

image{
	width:auto;
	margin:0%;
}

.gripnote{
	margin-top:4%;
	margin-bottom:2%;
	width:100%;
	text-align:center;
	font-family:sans-serif;
	font-size:200%;
	background-color:transparent;
}

.by{
	margin-bottom:10%;
	width:100%;
	text-align:center;
	font-size:110%;
	background-color:transparent;
	font-family:sans-serif;
}

/*.note{
	text-align:center;
	width:100%;
	font-size: 110%;
	background-color:transparent;
	font-family:sans-serif;
}*/

/*-----------------------------------------------------------------------*/
#down{
	text-align:center;
	clear: both;
	background-color:transparent;
	font-size:150%;
	margin-bottom:5%;
}

label{
	margin-left:2%;
	text-decoration:none;
	padding:1%;
}

label:hover{
	background-color:crimson;
	color:white;
}

#foot1{
	padding-left:3%;
	width:30.333%;
	font-size: 110%;
	color:white;
	background-color:dimgray;
	font-weight: 0;
	color:white;
	float:left;
}

#lis_bawah{
	text-decoration:none;
	list-style-type:none;
	font-size: 110%;
	color: white;
}

#lis_bawah:hover{
	color:crimson;
}

#foot{
	margin:0;
	color:white;
	text-align:center;
	font-size: 250%;
	padding-top:1.5%;
	padding-bottom: 1.5%;
	background-color:black;
}